<a href="https://colab.research.google.com/github/RicardoLelis/ds_nba/blob/main/ds_nba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# %pip install nba_api

In [2]:
from nba_api.stats.endpoints import leaguegamefinder

In [3]:

# Query for games where the Celtics were playing
gamefinder = leaguegamefinder.LeagueGameFinder(date_from_nullable='01/31/2020', league_id_nullable='00')
# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42021,1610612750,MIN,Minnesota Timberwolves,0042100156,2022-04-29,MIN vs. MEM,L,240,106,...,0.692,6,31,37,22,12,5,11,21,-8.0
1,42021,1610612763,MEM,Memphis Grizzlies,0042100156,2022-04-29,MEM @ MIN,W,239,114,...,0.792,16,39,55,24,7,8,18,21,8.0
2,42021,1610612762,UTA,Utah Jazz,0042100176,2022-04-28,UTA vs. DAL,L,240,96,...,0.750,11,37,48,20,5,4,11,15,-2.0
3,42021,1610612742,DAL,Dallas Mavericks,0042100176,2022-04-28,DAL @ UTA,W,240,98,...,0.818,3,34,37,22,6,4,9,19,2.0
4,42021,1610612756,PHX,Phoenix Suns,0042100146,2022-04-28,PHX @ NOP,W,240,115,...,0.944,5,27,32,23,8,2,14,21,6.0

In [4]:
games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [5]:
games=games[['TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'PLUS_MINUS']]

In [6]:
games

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS
0,Minnesota Timberwolves,0042100156,2022-04-29,MIN vs. MEM,L,-8.0
1,Memphis Grizzlies,0042100156,2022-04-29,MEM @ MIN,W,8.0
2,Utah Jazz,0042100176,2022-04-28,UTA vs. DAL,L,-2.0
3,Dallas Mavericks,0042100176,2022-04-28,DAL @ UTA,W,2.0
4,Phoenix Suns,0042100146,2022-04-28,PHX @ NOP,W,6.0
...,...,...,...,...,...,...
6059,Memphis Grizzlies,0021900723,2020-01-31,MEM @ NOP,L,-28.0
6060,Denver Nuggets,0021900724,2020-01-31,DEN @ MIL,W,12.0
6061,Milwaukee Bucks,0021900724,2020-01-31,MIL vs. DEN,L,-12.0
6062,Dallas Mavericks,0021900722,2020-01-31,DAL @ HOU,L,-7.0
6063,Houston Rockets,0021900722,2020-01-31,HOU vs. DAL,W,7.0

In [7]:
# final dataframe:one row for one game
# two columns: 1.result of game: target 2.score stat comparing two teams: feature

In [8]:
import pandas as pd

In [9]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6064 entries, 0 to 6063
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TEAM_NAME   6064 non-null   object
 1   GAME_ID     6064 non-null   object
 2   GAME_DATE   6064 non-null   object
 3   MATCHUP     6064 non-null   object
 4   WL          6064 non-null   object
 5   PLUS_MINUS  6064 non-null   float64
dtypes: float64(1), object(5)
memory usage: 284.4+ KB

In [10]:
games['GAME_DATE'] = pd.to_datetime(games['GAME_DATE'])

In [11]:
games['GAME_DATE']

0      2022-04-29
1      2022-04-29
2      2022-04-28
3      2022-04-28
4      2022-04-28
          ...
6059   2020-01-31
6060   2020-01-31
6061   2020-01-31
6062   2020-01-31
6063   2020-01-31
Name: GAME_DATE, Length: 6064, dtype: datetime64[ns]

In [12]:
games = games.sort_values('GAME_DATE')

In [13]:
games

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS
6063,Houston Rockets,0021900722,2020-01-31,HOU vs. DAL,W,7.0
6050,Phoenix Suns,0021900725,2020-01-31,PHX vs. OKC,L,-4.0
6051,Oklahoma City Thunder,0021900725,2020-01-31,OKC @ PHX,W,4.0
6052,Detroit Pistons,0021900720,2020-01-31,DET vs. TOR,L,-13.0
6053,Toronto Raptors,0021900720,2020-01-31,TOR @ DET,W,13.0
...,...,...,...,...,...,...
4,Phoenix Suns,0042100146,2022-04-28,PHX @ NOP,W,6.0
3,Dallas Mavericks,0042100176,2022-04-28,DAL @ UTA,W,2.0
2,Utah Jazz,0042100176,2022-04-28,UTA vs. DAL,L,-2.0
1,Memphis Grizzlies,0042100156,2022-04-29,MEM @ MIN,W,8.0
0,Minnesota Timberwolves,0042100156,2022-04-29,MIN vs. MEM,L,-8.0

In [14]:
games['avg_30_plus_minus']= games.groupby('TEAM_NAME')['PLUS_MINUS'].transform(lambda x: x.rolling(30, closed='left').mean())

In [15]:
games[games['TEAM_NAME'] == "Toronto Raptors"].head(35)

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
6053,Toronto Raptors,0021900720,2020-01-31,TOR @ DET,W,13.0,NaN
6029,Toronto Raptors,0021900740,2020-02-02,TOR vs. CHI,W,27.0,NaN
5976,Toronto Raptors,0021900758,2020-02-05,TOR vs. IND,W,1.0,NaN
5950,Toronto Raptors,0021900772,2020-02-07,TOR @ IND,W,9.0,NaN
5943,Toronto Raptors,0021900781,2020-02-08,TOR vs. BKN,W,1.0,NaN
5917,Toronto Raptors,0021900796,2020-02-10,TOR vs. MIN,W,11.0,NaN
5878,Toronto Raptors,0021900809,2020-02-12,TOR @ BKN,L,-10.0,NaN
5835,Toronto Raptors,0021900829,2020-02-21,TOR vs. PHX,W,17.0,NaN
5800,Toronto Raptors,0021900843,2020-02-23,TOR vs. IND,W,46.0,NaN
5781,Toronto Raptors,0021900858,2020-02-25,TOR vs. MIL,L,-11.0,NaN
5736,Toronto Raptors,0021900879,2020-02-28,TOR vs. CHA,L,-3.0,NaN
5702,Toronto Raptors,0021900898,2020-03-01,TOR @ DEN,L,-15.0,NaN
5666,Toronto Raptors,0021900914,2020-03-03,TOR @ PHX,W,9.0,NaN
5642,Toronto Raptors,0021900929,2020-03-05,TOR @ GSW,W,8.0,NaN
5597,Toronto Raptors,0021900956,2020-03-08,TOR @ SAC,W,5.0,NaN
5578,Toronto Raptors,0021900959,2020-03-09,TOR @ UTA,W,9.0,NaN
5531,Toronto Raptors,0011900111,2020-07-24,TOR vs. HOU,W,11.0,NaN
5511,Toronto Raptors,0011900121,2020-07-26,TOR vs. POR,W,6.0,NaN
5488,Toronto Raptors,0011900129,2020-07-28,TOR @ PHX,L,-11.0,NaN
5468,Toronto Raptors,0021901243,2020-08-01,TOR vs. LAL,W,15.0,NaN
5444,Toronto Raptors,0021901250,2020-08-03,TOR @ MIA,W,4.0,NaN
5415,Toronto Raptors,0021901266,2020-08-05,TOR @ ORL,W,10.0,NaN
5393,Toronto Raptors,0021901279,2020-08-07,TOR vs. BOS,L,-22.0,NaN
5374,Toronto Raptors,0021901286,2020-08-09,TOR vs. MEM,W,9.0,NaN
5363,Toronto Raptors,0021901294,2020-08-10,TOR @ MIL,W,8.0,NaN
5336,Toronto Raptors,0021901305,2020-08-12,TOR @ PHI,W,4.0,NaN
5314,Toronto Raptors,0021901318,2020-08-14,TOR vs. DEN,W,8.0,NaN
5302,Toronto Raptors,0041900111,2020-08-17,TOR vs. BKN,W,24.0,NaN
5291,Toronto Raptors,0041900112,2020-08-19,TOR vs. BKN,W,5.0,NaN
5270,Toronto Raptors,0041900113,2020-08-21,TOR @ BKN,W,25.0,NaN
5257,Toronto Raptors,0041900114,2020-08-23,TOR @ BKN,W,28.0,7.100000
5232,Toronto Raptors,0041900211,2020-08-30,TOR vs. BOS,L,-18.0,7.600000
5220,Toronto Raptors,0041900212,2020-09-01,TOR vs. BOS,L,-3.0,6.100000
5214,Toronto Raptors,0041900213,2020-09-03,TOR @ BOS,W,1.0,5.966667
5204,Toronto Raptors,0041900214,2020-09-05,TOR @ BOS,W,7.0,5.700000

In [16]:
msk = games['MATCHUP'].str.contains('@')

In [17]:
games_away = games[msk]
games_home = games[~msk]

In [18]:
games_away.shape

(3032, 7)

In [19]:
games_home.shape

(3032, 7)

In [20]:
games_home

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
6063,Houston Rockets,0021900722,2020-01-31,HOU vs. DAL,W,7.0,NaN
6050,Phoenix Suns,0021900725,2020-01-31,PHX vs. OKC,L,-4.0,NaN
6052,Detroit Pistons,0021900720,2020-01-31,DET vs. TOR,L,-13.0,NaN
6055,Los Angeles Lakers,0021900726,2020-01-31,LAL vs. POR,L,-8.0,NaN
6061,Milwaukee Bucks,0021900724,2020-01-31,MIL vs. DEN,L,-12.0,NaN
...,...,...,...,...,...,...,...
11,Milwaukee Bucks,0042100125,2022-04-27,MIL vs. CHI,W,16.0,3.266667
7,Toronto Raptors,0042100136,2022-04-28,TOR vs. PHI,L,-35.0,2.400000
5,New Orleans Pelicans,0042100146,2022-04-28,NOP vs. PHX,L,-6.0,3.966667
2,Utah Jazz,0042100176,2022-04-28,UTA vs. DAL,L,-2.0,2.300000
0,Minnesota Timberwolves,0042100156,2022-04-29,MIN vs. MEM,L,-8.0,3.266667

In [21]:
games_away

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
6051,Oklahoma City Thunder,0021900725,2020-01-31,OKC @ PHX,W,4.0,NaN
6053,Toronto Raptors,0021900720,2020-01-31,TOR @ DET,W,13.0,NaN
6054,Portland Trail Blazers,0021900726,2020-01-31,POR @ LAL,W,8.0,NaN
6062,Dallas Mavericks,0021900722,2020-01-31,DAL @ HOU,L,-7.0,NaN
6057,Chicago Bulls,0021900721,2020-01-31,CHI @ BKN,L,-15.0,NaN
...,...,...,...,...,...,...,...
10,Chicago Bulls,0042100125,2022-04-27,CHI @ MIL,L,-16.0,-6.633333
6,Philadelphia 76ers,0042100136,2022-04-28,PHI @ TOR,W,35.0,4.733333
4,Phoenix Suns,0042100146,2022-04-28,PHX @ NOP,W,6.0,4.966667
3,Dallas Mavericks,0042100176,2022-04-28,DAL @ UTA,W,2.0,4.000000
1,Memphis Grizzlies,0042100156,2022-04-29,MEM @ MIN,W,8.0,7.166667

In [22]:
games_merged = pd.merge(games_home, games_away, on='GAME_ID', suffixes=('_home', '_away'))

In [23]:
games_merged

,TEAM_NAME_home,GAME_ID,GAME_DATE_home,MATCHUP_home,WL_home,PLUS_MINUS_home,avg_30_plus_minus_home,TEAM_NAME_away,GAME_DATE_away,MATCHUP_away,WL_away,PLUS_MINUS_away,avg_30_plus_minus_away
0,Houston Rockets,0021900722,2020-01-31,HOU vs. DAL,W,7.0,NaN,Dallas Mavericks,2020-01-31,DAL @ HOU,L,-7.0,NaN
1,Phoenix Suns,0021900725,2020-01-31,PHX vs. OKC,L,-4.0,NaN,Oklahoma City Thunder,2020-01-31,OKC @ PHX,W,4.0,NaN
2,Detroit Pistons,0021900720,2020-01-31,DET vs. TOR,L,-13.0,NaN,Toronto Raptors,2020-01-31,TOR @ DET,W,13.0,NaN
3,Los Angeles Lakers,0021900726,2020-01-31,LAL vs. POR,L,-8.0,NaN,Portland Trail Blazers,2020-01-31,POR @ LAL,W,8.0,NaN
4,Milwaukee Bucks,0021900724,2020-01-31,MIL vs. DEN,L,-12.0,NaN,Denver Nuggets,2020-01-31,DEN @ MIL,W,12.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3027,Milwaukee Bucks,0042100125,2022-04-27,MIL vs. CHI,W,16.0,3.266667,Chicago Bulls,2022-04-27,CHI @ MIL,L,-16.0,-6.633333
3028,Toronto Raptors,0042100136,2022-04-28,TOR vs. PHI,L,-35.0,2.400000,Philadelphia 76ers,2022-04-28,PHI @ TOR,W,35.0,4.733333
3029,New Orleans Pelicans,0042100146,2022-04-28,NOP vs. PHX,L,-6.0,3.966667,Phoenix Suns,2022-04-28,PHX @ NOP,W,6.0,4.966667
3030,Utah Jazz,0042100176,2022-04-28,UTA vs. DAL,L,-2.0,2.300000,Dallas Mavericks,2022-04-28,DAL @ UTA,W,2.0,4.000000
3031,Minnesota Timberwolves,0042100156,2022-04-29,MIN vs. MEM,L,-8.0,3.266667,Memphis Grizzlies,2022-04-29,MEM @ MIN,W,8.0,7.166667

In [24]:
games_merged['avg_30_plus_minus_diff'] = games_merged['avg_30_plus_minus_home'] - games_merged['avg_30_plus_minus_away']

In [25]:
games_merged

,TEAM_NAME_home,GAME_ID,GAME_DATE_home,MATCHUP_home,WL_home,PLUS_MINUS_home,avg_30_plus_minus_home,TEAM_NAME_away,GAME_DATE_away,MATCHUP_away,WL_away,PLUS_MINUS_away,avg_30_plus_minus_away,avg_30_plus_minus_diff
0,Houston Rockets,0021900722,2020-01-31,HOU vs. DAL,W,7.0,NaN,Dallas Mavericks,2020-01-31,DAL @ HOU,L,-7.0,NaN,NaN
1,Phoenix Suns,0021900725,2020-01-31,PHX vs. OKC,L,-4.0,NaN,Oklahoma City Thunder,2020-01-31,OKC @ PHX,W,4.0,NaN,NaN
2,Detroit Pistons,0021900720,2020-01-31,DET vs. TOR,L,-13.0,NaN,Toronto Raptors,2020-01-31,TOR @ DET,W,13.0,NaN,NaN
3,Los Angeles Lakers,0021900726,2020-01-31,LAL vs. POR,L,-8.0,NaN,Portland Trail Blazers,2020-01-31,POR @ LAL,W,8.0,NaN,NaN
4,Milwaukee Bucks,0021900724,2020-01-31,MIL vs. DEN,L,-12.0,NaN,Denver Nuggets,2020-01-31,DEN @ MIL,W,12.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3027,Milwaukee Bucks,0042100125,2022-04-27,MIL vs. CHI,W,16.0,3.266667,Chicago Bulls,2022-04-27,CHI @ MIL,L,-16.0,-6.633333,9.900000
3028,Toronto Raptors,0042100136,2022-04-28,TOR vs. PHI,L,-35.0,2.400000,Philadelphia 76ers,2022-04-28,PHI @ TOR,W,35.0,4.733333,-2.333333
3029,New Orleans Pelicans,0042100146,2022-04-28,NOP vs. PHX,L,-6.0,3.966667,Phoenix Suns,2022-04-28,PHX @ NOP,W,6.0,4.966667,-1.000000
3030,Utah Jazz,0042100176,2022-04-28,UTA vs. DAL,L,-2.0,2.300000,Dallas Mavericks,2022-04-28,DAL @ UTA,W,2.0,4.000000,-1.700000
3031,Minnesota Timberwolves,0042100156,2022-04-29,MIN vs. MEM,L,-8.0,3.266667,Memphis Grizzlies,2022-04-29,MEM @ MIN,W,8.0,7.166667,-3.900000

In [26]:
games_model = games_merged[['WL_home', 'avg_30_plus_minus_diff']].dropna()

In [27]:
games_model['WL_home'] = games_model['WL_home'].map({'W': 1, 'L': 0})

In [28]:
games_model

      WL_home  avg_30_plus_minus_diff
398         0               -6.233333
400         0               -5.366667
401         1                1.933333
402         1               -4.333333
403         0               -5.600000
...       ...                     ...
3027        1                9.900000
3028        0               -2.333333
3029        0               -1.000000
3030        0               -1.700000
3031        0               -3.900000

[2524 rows x 2 columns]

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
df_train, df_test = train_test_split(games_model, 
                                     stratify=games_model['WL_home'],  
                                     test_size=0.2,
                                     random_state=7)

In [31]:
df_train.shape

(2019, 2)

In [32]:
df_test.shape

(505, 2)

In [33]:
target = 'WL_home'
X_train = df_train.drop(columns=target) # train avg_plus_minus_diff
y_train = df_train[target] # train WL_home

X_test = df_test.drop(columns=target) # test avg_plus_minus_diff
y_test = df_test[target] # test WL_home

In [35]:
import xgboost as xgb

In [36]:
clf = xgb.XGBClassifier(random_state=7)

In [37]:
clf.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=7,
              reg_alpha=0, reg_lambda=1, ...)

# Evaluation

In [38]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(X_test)

In [39]:
accuracy_score(y_test, y_pred)

0.6178217821782178

# How to improve our prediction rate?

### Hypertune our model with hyperparameters

- Use "random search" to improve our prediction

In [43]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.utils.fixes import loguniform

In [44]:
hyp_params={
    'learning_rate': loguniform(0.0001, 1),
    'max_depth': [2,3,4,5,6,7,8,9],
    'subsample':[0.7, 0.8, 0.9, 1.0],
    'n_estimators':[50, 100, 150, 200]}

In [48]:
random_hyp = RandomizedSearchCV(estimator=clf,
                                param_distributions=hyp_params,
                                n_iter=20,
                                cv=7,
                                scoring='accuracy',
                                random_state=7)

In [49]:
random_hyp.fit(X_train, y_train)

RandomizedSearchCV(cv=7,
                   estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                           callbacks=None, colsample_bylevel=1,
                                           colsample_bynode=1,
                                           colsample_bytree=1,
                                           early_stopping_rounds=None,
                                           enable_categorical=False,
                                           eval_metric=None, gamma=0, gpu_id=-1,
                                           grow_policy='depthwise',
                                           importance_type=None,
                                           interaction_constraints='',
                                           learning_rate=0.300000012,
                                           max_bin=256,...
                                           monotone_constraints='()',
                                           n_estimators=100, n_jobs=0,
                                           num_parallel_tree=1,
                                           predictor='auto', random_state=7,
                                           reg_alpha=0, reg_lambda=1, ...),
                   n_iter=20,
                   param_distributions={'learning_rate': <scipy.stats._distn_infrastructure.rv_frozen object at 0x11ff83950>,
                                        'max_depth': [2, 3, 4, 5, 6, 7, 8, 9],
                                        'n_estimators': [50, 100, 150, 200],
                                        'subsample': [0.7, 0.8, 0.9, 1.0]},
                   random_state=7, scoring='accuracy')

In [50]:
random_hyp.best_params_

{'learning_rate': 0.014255533717547383,
 'max_depth': 2,
 'n_estimators': 100,
 'subsample': 0.9}

In [51]:
model_hyp = random_hyp.best_estimator_

In [52]:
y_pred_hyp = model_hyp.predict(X_test)

In [53]:
accuracy_score(y_test, y_pred_hyp)

0.6495049504950495