<a href="https://colab.research.google.com/github/RicardoLelis/ds_nba/blob/main/ds_nba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# %pip install nba_api

In [2]:
from nba_api.stats.endpoints import leaguegamefinder

In [3]:

# Query for games played
gamefinder = leaguegamefinder.LeagueGameFinder(date_from_nullable='01/31/2020', league_id_nullable='00')
# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42021,1610612738,BOS,Boston Celtics,0042100211,2022-05-01,BOS vs. MIL,None,0,3,...,NaN,0,1,1,1,0,0,0,0,1.0
1,42021,1610612749,MIL,Milwaukee Bucks,0042100211,2022-05-01,MIL @ BOS,None,0,2,...,NaN,0,1,1,1,0,0,1,0,-1.0
2,42021,1610612750,MIN,Minnesota Timberwolves,0042100156,2022-04-29,MIN vs. MEM,L,240,106,...,0.692,6,31,37,22,12,5,11,21,-8.0
3,42021,1610612763,MEM,Memphis Grizzlies,0042100156,2022-04-29,MEM @ MIN,W,239,114,...,0.792,16,39,55,24,7,8,18,21,8.0
4,42021,1610612742,DAL,Dallas Mavericks,0042100176,2022-04-28,DAL @ UTA,W,240,98,...,0.818,3,34,37,22,6,4,9,19,2.0

In [4]:
games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [5]:
games=games[['TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'PLUS_MINUS']]

In [6]:
games

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS
0,Boston Celtics,0042100211,2022-05-01,BOS vs. MIL,None,1.0
1,Milwaukee Bucks,0042100211,2022-05-01,MIL @ BOS,None,-1.0
2,Minnesota Timberwolves,0042100156,2022-04-29,MIN vs. MEM,L,-8.0
3,Memphis Grizzlies,0042100156,2022-04-29,MEM @ MIN,W,8.0
4,Dallas Mavericks,0042100176,2022-04-28,DAL @ UTA,W,2.0
...,...,...,...,...,...,...
6061,Toronto Raptors,0021900720,2020-01-31,TOR @ DET,W,13.0
6062,Detroit Pistons,0021900720,2020-01-31,DET vs. TOR,L,-13.0
6063,Brooklyn Nets,0021900721,2020-01-31,BKN vs. CHI,W,15.0
6064,Chicago Bulls,0021900721,2020-01-31,CHI @ BKN,L,-15.0
6065,Dallas Mavericks,0021900722,2020-01-31,DAL @ HOU,L,-7.0

In [7]:
# final dataframe:one row for one game
# two columns: 1.result of game: target 2.score stat comparing two teams: feature

In [8]:
import pandas as pd

In [9]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6066 entries, 0 to 6065
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TEAM_NAME   6066 non-null   object
 1   GAME_ID     6066 non-null   object
 2   GAME_DATE   6066 non-null   object
 3   MATCHUP     6066 non-null   object
 4   WL          6064 non-null   object
 5   PLUS_MINUS  6066 non-null   float64
dtypes: float64(1), object(5)
memory usage: 284.5+ KB

In [10]:
games['GAME_DATE'] = pd.to_datetime(games['GAME_DATE'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
games['GAME_DATE']

0      2022-05-01
1      2022-05-01
2      2022-04-29
3      2022-04-29
4      2022-04-28
          ...
6061   2020-01-31
6062   2020-01-31
6063   2020-01-31
6064   2020-01-31
6065   2020-01-31
Name: GAME_DATE, Length: 6066, dtype: datetime64[ns]

In [12]:
games = games.sort_values('GAME_DATE')

In [13]:
games

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS
6065,Dallas Mavericks,0021900722,2020-01-31,DAL @ HOU,L,-7.0
6052,Memphis Grizzlies,0021900723,2020-01-31,MEM @ NOP,L,-28.0
6053,Phoenix Suns,0021900725,2020-01-31,PHX vs. OKC,L,-4.0
6054,Oklahoma City Thunder,0021900725,2020-01-31,OKC @ PHX,W,4.0
6055,Portland Trail Blazers,0021900726,2020-01-31,POR @ LAL,W,8.0
...,...,...,...,...,...,...
4,Dallas Mavericks,0042100176,2022-04-28,DAL @ UTA,W,2.0
3,Memphis Grizzlies,0042100156,2022-04-29,MEM @ MIN,W,8.0
2,Minnesota Timberwolves,0042100156,2022-04-29,MIN vs. MEM,L,-8.0
1,Milwaukee Bucks,0042100211,2022-05-01,MIL @ BOS,None,-1.0
0,Boston Celtics,0042100211,2022-05-01,BOS vs. MIL,None,1.0

In [14]:
games['avg_30_plus_minus']= games.groupby('TEAM_NAME')['PLUS_MINUS'].transform(lambda x: x.rolling(30, closed='left').mean())

In [15]:
games[games['TEAM_NAME'] == "Toronto Raptors"].head(35)

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
6061,Toronto Raptors,0021900720,2020-01-31,TOR @ DET,W,13.0,NaN
6029,Toronto Raptors,0021900740,2020-02-02,TOR vs. CHI,W,27.0,NaN
5986,Toronto Raptors,0021900758,2020-02-05,TOR vs. IND,W,1.0,NaN
5966,Toronto Raptors,0021900772,2020-02-07,TOR @ IND,W,9.0,NaN
5936,Toronto Raptors,0021900781,2020-02-08,TOR vs. BKN,W,1.0,NaN
5916,Toronto Raptors,0021900796,2020-02-10,TOR vs. MIN,W,11.0,NaN
5882,Toronto Raptors,0021900809,2020-02-12,TOR @ BKN,L,-10.0,NaN
5844,Toronto Raptors,0021900829,2020-02-21,TOR vs. PHX,W,17.0,NaN
5804,Toronto Raptors,0021900843,2020-02-23,TOR vs. IND,W,46.0,NaN
5772,Toronto Raptors,0021900858,2020-02-25,TOR vs. MIL,L,-11.0,NaN
5743,Toronto Raptors,0021900879,2020-02-28,TOR vs. CHA,L,-3.0,NaN
5701,Toronto Raptors,0021900898,2020-03-01,TOR @ DEN,L,-15.0,NaN
5678,Toronto Raptors,0021900914,2020-03-03,TOR @ PHX,W,9.0,NaN
5645,Toronto Raptors,0021900929,2020-03-05,TOR @ GSW,W,8.0,NaN
5599,Toronto Raptors,0021900956,2020-03-08,TOR @ SAC,W,5.0,NaN
5580,Toronto Raptors,0021900959,2020-03-09,TOR @ UTA,W,9.0,NaN
5535,Toronto Raptors,0011900111,2020-07-24,TOR vs. HOU,W,11.0,NaN
5510,Toronto Raptors,0011900121,2020-07-26,TOR vs. POR,W,6.0,NaN
5491,Toronto Raptors,0011900129,2020-07-28,TOR @ PHX,L,-11.0,NaN
5463,Toronto Raptors,0021901243,2020-08-01,TOR vs. LAL,W,15.0,NaN
5438,Toronto Raptors,0021901250,2020-08-03,TOR @ MIA,W,4.0,NaN
5421,Toronto Raptors,0021901266,2020-08-05,TOR @ ORL,W,10.0,NaN
5390,Toronto Raptors,0021901279,2020-08-07,TOR vs. BOS,L,-22.0,NaN
5372,Toronto Raptors,0021901286,2020-08-09,TOR vs. MEM,W,9.0,NaN
5362,Toronto Raptors,0021901294,2020-08-10,TOR @ MIL,W,8.0,NaN
5340,Toronto Raptors,0021901305,2020-08-12,TOR @ PHI,W,4.0,NaN
5317,Toronto Raptors,0021901318,2020-08-14,TOR vs. DEN,W,8.0,NaN
5305,Toronto Raptors,0041900111,2020-08-17,TOR vs. BKN,W,24.0,NaN
5289,Toronto Raptors,0041900112,2020-08-19,TOR vs. BKN,W,5.0,NaN
5275,Toronto Raptors,0041900113,2020-08-21,TOR @ BKN,W,25.0,NaN
5255,Toronto Raptors,0041900114,2020-08-23,TOR @ BKN,W,28.0,7.100000
5230,Toronto Raptors,0041900211,2020-08-30,TOR vs. BOS,L,-18.0,7.600000
5222,Toronto Raptors,0041900212,2020-09-01,TOR vs. BOS,L,-3.0,6.100000
5217,Toronto Raptors,0041900213,2020-09-03,TOR @ BOS,W,1.0,5.966667
5206,Toronto Raptors,0041900214,2020-09-05,TOR @ BOS,W,7.0,5.700000

In [16]:
msk = games['MATCHUP'].str.contains('@')

In [17]:
games_away = games[msk]
games_home = games[~msk]

In [18]:
games_away.shape

(3033, 7)

In [19]:
games_home.shape

(3033, 7)

In [20]:
games_home

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
6053,Phoenix Suns,0021900725,2020-01-31,PHX vs. OKC,L,-4.0,NaN
6056,Los Angeles Lakers,0021900726,2020-01-31,LAL vs. POR,L,-8.0,NaN
6059,New Orleans Pelicans,0021900723,2020-01-31,NOP vs. MEM,W,28.0,NaN
6063,Brooklyn Nets,0021900721,2020-01-31,BKN vs. CHI,W,15.0,NaN
6062,Detroit Pistons,0021900720,2020-01-31,DET vs. TOR,L,-13.0,NaN
...,...,...,...,...,...,...,...
9,Utah Jazz,0042100176,2022-04-28,UTA vs. DAL,L,-2.0,2.300000
8,Toronto Raptors,0042100136,2022-04-28,TOR vs. PHI,L,-35.0,2.400000
5,New Orleans Pelicans,0042100146,2022-04-28,NOP vs. PHX,L,-6.0,3.966667
2,Minnesota Timberwolves,0042100156,2022-04-29,MIN vs. MEM,L,-8.0,3.266667
0,Boston Celtics,0042100211,2022-05-01,BOS vs. MIL,None,1.0,11.800000

In [21]:
games_away

,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,PLUS_MINUS,avg_30_plus_minus
6065,Dallas Mavericks,0021900722,2020-01-31,DAL @ HOU,L,-7.0,NaN
6052,Memphis Grizzlies,0021900723,2020-01-31,MEM @ NOP,L,-28.0,NaN
6054,Oklahoma City Thunder,0021900725,2020-01-31,OKC @ PHX,W,4.0,NaN
6055,Portland Trail Blazers,0021900726,2020-01-31,POR @ LAL,W,8.0,NaN
6057,Denver Nuggets,0021900724,2020-01-31,DEN @ MIL,W,12.0,NaN
...,...,...,...,...,...,...,...
7,Philadelphia 76ers,0042100136,2022-04-28,PHI @ TOR,W,35.0,4.733333
6,Phoenix Suns,0042100146,2022-04-28,PHX @ NOP,W,6.0,4.966667
4,Dallas Mavericks,0042100176,2022-04-28,DAL @ UTA,W,2.0,4.000000
3,Memphis Grizzlies,0042100156,2022-04-29,MEM @ MIN,W,8.0,7.166667
1,Milwaukee Bucks,0042100211,2022-05-01,MIL @ BOS,None,-1.0,4.600000

In [22]:
games_merged = pd.merge(games_home, games_away, on='GAME_ID', suffixes=('_home', '_away'))

In [23]:
games_merged

,TEAM_NAME_home,GAME_ID,GAME_DATE_home,MATCHUP_home,WL_home,PLUS_MINUS_home,avg_30_plus_minus_home,TEAM_NAME_away,GAME_DATE_away,MATCHUP_away,WL_away,PLUS_MINUS_away,avg_30_plus_minus_away
0,Phoenix Suns,0021900725,2020-01-31,PHX vs. OKC,L,-4.0,NaN,Oklahoma City Thunder,2020-01-31,OKC @ PHX,W,4.0,NaN
1,Los Angeles Lakers,0021900726,2020-01-31,LAL vs. POR,L,-8.0,NaN,Portland Trail Blazers,2020-01-31,POR @ LAL,W,8.0,NaN
2,New Orleans Pelicans,0021900723,2020-01-31,NOP vs. MEM,W,28.0,NaN,Memphis Grizzlies,2020-01-31,MEM @ NOP,L,-28.0,NaN
3,Brooklyn Nets,0021900721,2020-01-31,BKN vs. CHI,W,15.0,NaN,Chicago Bulls,2020-01-31,CHI @ BKN,L,-15.0,NaN
4,Detroit Pistons,0021900720,2020-01-31,DET vs. TOR,L,-13.0,NaN,Toronto Raptors,2020-01-31,TOR @ DET,W,13.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3028,Utah Jazz,0042100176,2022-04-28,UTA vs. DAL,L,-2.0,2.300000,Dallas Mavericks,2022-04-28,DAL @ UTA,W,2.0,4.000000
3029,Toronto Raptors,0042100136,2022-04-28,TOR vs. PHI,L,-35.0,2.400000,Philadelphia 76ers,2022-04-28,PHI @ TOR,W,35.0,4.733333
3030,New Orleans Pelicans,0042100146,2022-04-28,NOP vs. PHX,L,-6.0,3.966667,Phoenix Suns,2022-04-28,PHX @ NOP,W,6.0,4.966667
3031,Minnesota Timberwolves,0042100156,2022-04-29,MIN vs. MEM,L,-8.0,3.266667,Memphis Grizzlies,2022-04-29,MEM @ MIN,W,8.0,7.166667
3032,Boston Celtics,0042100211,2022-05-01,BOS vs. MIL,None,1.0,11.800000,Milwaukee Bucks,2022-05-01,MIL @ BOS,None,-1.0,4.600000

In [24]:
games_merged['avg_30_plus_minus_diff'] = games_merged['avg_30_plus_minus_home'] - games_merged['avg_30_plus_minus_away']

In [25]:
games_merged

,TEAM_NAME_home,GAME_ID,GAME_DATE_home,MATCHUP_home,WL_home,PLUS_MINUS_home,avg_30_plus_minus_home,TEAM_NAME_away,GAME_DATE_away,MATCHUP_away,WL_away,PLUS_MINUS_away,avg_30_plus_minus_away,avg_30_plus_minus_diff
0,Phoenix Suns,0021900725,2020-01-31,PHX vs. OKC,L,-4.0,NaN,Oklahoma City Thunder,2020-01-31,OKC @ PHX,W,4.0,NaN,NaN
1,Los Angeles Lakers,0021900726,2020-01-31,LAL vs. POR,L,-8.0,NaN,Portland Trail Blazers,2020-01-31,POR @ LAL,W,8.0,NaN,NaN
2,New Orleans Pelicans,0021900723,2020-01-31,NOP vs. MEM,W,28.0,NaN,Memphis Grizzlies,2020-01-31,MEM @ NOP,L,-28.0,NaN,NaN
3,Brooklyn Nets,0021900721,2020-01-31,BKN vs. CHI,W,15.0,NaN,Chicago Bulls,2020-01-31,CHI @ BKN,L,-15.0,NaN,NaN
4,Detroit Pistons,0021900720,2020-01-31,DET vs. TOR,L,-13.0,NaN,Toronto Raptors,2020-01-31,TOR @ DET,W,13.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3028,Utah Jazz,0042100176,2022-04-28,UTA vs. DAL,L,-2.0,2.300000,Dallas Mavericks,2022-04-28,DAL @ UTA,W,2.0,4.000000,-1.700000
3029,Toronto Raptors,0042100136,2022-04-28,TOR vs. PHI,L,-35.0,2.400000,Philadelphia 76ers,2022-04-28,PHI @ TOR,W,35.0,4.733333,-2.333333
3030,New Orleans Pelicans,0042100146,2022-04-28,NOP vs. PHX,L,-6.0,3.966667,Phoenix Suns,2022-04-28,PHX @ NOP,W,6.0,4.966667,-1.000000
3031,Minnesota Timberwolves,0042100156,2022-04-29,MIN vs. MEM,L,-8.0,3.266667,Memphis Grizzlies,2022-04-29,MEM @ MIN,W,8.0,7.166667,-3.900000
3032,Boston Celtics,0042100211,2022-05-01,BOS vs. MIL,None,1.0,11.800000,Milwaukee Bucks,2022-05-01,MIL @ BOS,None,-1.0,4.600000,7.200000

In [26]:
games_model = games_merged[['WL_home', 'avg_30_plus_minus_diff']].dropna()

In [27]:
games_model['WL_home'] = games_model['WL_home'].map({'W': 1, 'L': 0})

In [28]:
games_model

      WL_home  avg_30_plus_minus_diff
399         0               -6.233333
400         1                1.933333
401         0               -5.366667
402         1                2.466667
403         0               -8.066667
...       ...                     ...
3027        1                9.900000
3028        0               -1.700000
3029        0               -2.333333
3030        0               -1.000000
3031        0               -3.900000

[2524 rows x 2 columns]

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
df_train, df_test = train_test_split(games_model, 
                                     stratify=games_model['WL_home'],  
                                     test_size=0.2,
                                     random_state=7)

In [31]:
df_train.shape

(2019, 2)

In [32]:
df_test.shape

(505, 2)

In [33]:
target = 'WL_home'
X_train = df_train.drop(columns=target) # train avg_plus_minus_diff
y_train = df_train[target] # train WL_home

X_test = df_test.drop(columns=target) # test avg_plus_minus_diff
y_test = df_test[target] # test WL_home

In [34]:
import xgboost as xgb

In [35]:
clf = xgb.XGBClassifier(random_state=7)

In [36]:
clf.fit(X_train, y_train)

XGBClassifier(random_state=7)

# Evaluation

In [37]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(X_test)

In [38]:
accuracy_score(y_test, y_pred)

0.6079207920792079

# How to improve our prediction rate?

### Hypertune our model with hyperparameters

- Use "random search" to improve our prediction

In [39]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.utils.fixes import loguniform

In [40]:
hyp_params={
    'learning_rate': loguniform(0.0001, 1),
    'max_depth': [2,3,4,5,6,7,8,9],
    'subsample':[0.7, 0.8, 0.9, 1.0],
    'n_estimators':[50, 100, 150, 200]}

In [41]:
random_hyp = RandomizedSearchCV(estimator=clf,
                                param_distributions=hyp_params,
                                n_iter=20,
                                cv=7,
                                scoring='accuracy',
                                random_state=7)

In [42]:
random_hyp.fit(X_train, y_train)

RandomizedSearchCV(cv=7, estimator=XGBClassifier(random_state=7), n_iter=20,
                   param_distributions={'learning_rate': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7fb3e0f1b4d0>,
                                        'max_depth': [2, 3, 4, 5, 6, 7, 8, 9],
                                        'n_estimators': [50, 100, 150, 200],
                                        'subsample': [0.7, 0.8, 0.9, 1.0]},
                   random_state=7, scoring='accuracy')

In [43]:
random_hyp.best_params_

{'learning_rate': 0.025246179740589205,
 'max_depth': 2,
 'n_estimators': 150,
 'subsample': 0.7}

In [44]:
model_hyp = random_hyp.best_estimator_

In [45]:
y_pred_hyp = model_hyp.predict(X_test)

In [46]:
accuracy_score(y_test, y_pred_hyp)

0.6118811881188119

In [47]:
from joblib import dump, load

In [48]:
dump(model_hyp, 'model_nba.joblib')

['model_nba.joblib']

In [49]:
model_saved = load('model_nba.joblib')

In [50]:
accuracy_score(y_test, model_saved.predict(X_test))

0.6118811881188119

# Home team Away team -> game result

In [51]:
def predict_game(team_home, team_away):

    from nba_api.stats.endpoints import leaguegamefinder

    gamefinder = leaguegamefinder.LeagueGameFinder(date_from_nullable='01/01/2021', league_id_nullable='00')

    games = gamefinder.get_data_frames()[0]

    games = games[['TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'PLUS_MINUS']]

    import pandas as pd

    games['GAME_DATE'] = pd.to_datetime(games['GAME_DATE'])

    msk_home = (games['TEAM_NAME'] == team_home)
    games_30_home = games[msk_home].sort_values('GAME_DATE').tail(30)
    home_plus_minus = games_30_home['PLUS_MINUS'].mean()

    msk_away = (games['TEAM_NAME'] == team_away)
    games_30_away = games[msk_away].sort_values('GAME_DATE').tail(30)
    away_plus_minus = games_30_away['PLUS_MINUS'].mean()

    games_diff = home_plus_minus - away_plus_minus

    model_saved = load('model_nba.joblib')

    import numpy as np
    predict_home_win = model_saved.predict(np.array([games_diff]))[0]

    predict_wining_probability = model_saved.predict_proba(np.array([games_diff]))[0][1]

    return predict_home_win, predict_wining_probability

In [52]:
team_home = 'Toronto Raptors'
team_away = 'Boston Celtics'
predict_game(team_home, team_away)

ValueError: ignored